{% extends 'base.html' %}

{# 页面标题 #}
{% block title %}
     代码日记
{% endblock %}

{# 导航栏-选中状态 #}
{% block nav_home_active %}
    active
{% endblock %}


{# 页面内容 #}
{% block content %}
<pre style="font-family: 'MS PGothic';">
　　　　　　　　　　　　　/ヽ　　　　　　/ヽ 
　　　　　　　　　　　　/ 　ヽ　　　 　 / 　ヽ 
　　＿＿＿＿＿＿ / 　 　 ヽ＿＿/　 　 　ヽ 
　　|　＿＿＿＿　／　　　 　 　 　　　:::::::::::::::＼ 
　　| |　　　　　　 / ／　　　　　　＼ 　　:::::::::::::::|           好想玩游戏
　　| |　　　　　 　| （●　　　 　 （●　 　 ::::::::::::::|         
　　| |　　　　　 　|　∪　　　　　　∪　　　:::::::::::::|         但是代码还没敲完
　　| |　　　　　 　|　 　（__人__丿 　.....:::::::::::::::::::/ 
　　| |＿＿＿＿　ヽ　　　　　　.....:::::::::::::::::::::::          好想玩游戏
　 └＿＿＿／￣￣　　　　　　　:::::::::::::::::::::::::| 
　　|＼　　　 |　　　　　　　　　　　　:::::::::::::::::::::::|         苦逼TAT
　　＼ ＼　　＼＿＿＿　　　　　　 ::::::::::::::::::::::::|
</pre>
{% endblock %}
